## Why python?
* open Source
* general-purpose
* high level

## Variables and data types

In [110]:
# variables
x = 5
y, z = (12, -4.2)
y , x-z

(12, 9.2)

In [111]:
# numbers and booleans
type(x), type(z)

(int, float)

In [112]:
# numbers
d = int(z)
e = float(d)
z, type(z), d, type(d), e, type(e)

(-4.2, float, -4, int, -4.0, float)

In [113]:
# booleans
x5 = True
type(x5)

bool

In [114]:
# strings: text values composed of a sequence of characters
s = 'dollars'
s, type(s), print('Dollars')

Dollars

('dollars', str, None)

In [115]:
print(f'I have {z} dollars!!!')
print('I have ' + str(z) + ' dollars!')

I have -4.2 dollars!!!
I have -4.2 dollars!

## Basic python syntax

In [116]:
# arithmetic operators
int(16 / 3), 16 % 3, 5 ** -1

(5, 1, 0.2)

In [117]:
# double equity sign
x = 125
x == 130

False

In [118]:
# reassign values
z = 5
z = -3
z + 2

-1

In [119]:
# add comments
# This is a comment

In [120]:
# Line continuation
3 + 2.0 * \
6

15.0

In [121]:
# indexing elements
'Friday'[3]

'd'

In [122]:
# indentation
def five(x):
    x = 5
    return x
five('Hi')

5

## Other python operators

In [123]:
# comparison opearators
10 == 10, 10 != 10, 12 > 10, 12 < 10, 15 + 20 > 10 + 10

(True, False, True, False, True)

In [124]:
# logical operators (boolean operators)
True and True, False and False, True and False, True or False, not True

# order of importance of logical operators
# 1.not 2.and 3.or
# True and not True

(True, False, False, True, False)

In [125]:
# identity operators
5 is 6, 5 is not 6

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\SHAYAN~1\AppData\Local\Temp/ipykernel_6260/121693789.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 6, 5 is not 6
C:\Users\SHAYAN~1\AppData\Local\Temp/ipykernel_6260/121693789.py:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  5 is 6, 5 is not 6

(False, True)

## conditional statements

In [126]:
# if statement
if 5 == 15 / 3:
    print('Hooray!')
if 5 == 18 / 3:
    print('Hooray!')

Hooray!

In [127]:
# else statement
# remember to place if and else keywords on the same vertical line
x = 1
if x > 3:
    print(f'{x} is greater than 3.')
else:
    print(f'{x} is less than or equal to 3.')

1 is less than or equal to 3.

In [128]:
# elif statement
def compare_to_five(x):
    if x > 5:
        return 'Greater'
    elif x < 0:
        return 'Negative'
    elif x < 5:
        return 'Less'
    else:
        return 'equal'
compare_to_five(-6)
# every conditional statement convert to a boolean value first

'Negative'

## Python functions

In [1]:
# defining a function in python
def simple_fun():
    print('My first function')
simple_fun()

My first function

In [5]:
# create a function with a parameter
def plus_ten(parameter):
    return parameter + 10
plus_ten(-3.36)

6.640000000000001

In [6]:
# another way to create a function
def new_plus_ten(x):
    result = x + 10
    return result
new_plus_ten(17)

27

In [9]:
# use a unction within a function
def wage(w_hours):
    return w_hours * 25

def with_bonus(hours):
    return wage(hours) + 50

with_bonus(40)

1050

In [14]:
# conditional statements and functions
def add_ten(saving):
    if saving >= 100:
        return saving + 10
    else:
        print('You should save more')
add_ten(95)

You should save more

In [15]:
# functions containing a few arguments
# in this cases order of the parameters matters
def subtract_bc(a, b, c):
    return a - b * c
subtract_bc(5, 2, -1)

7

In [18]:
# Built_in functions in python
max(10, -3, 18)

3

In [22]:
x = '5'
x.isnumeric()

True

## Sequences

In [29]:
# lists are a type of sequence of data points
participants = ['John', 'Leila', 'Gregory', 'Cate']
participants.pop()
participants.append('Maria')
del participants[2]
participants

['John', 'Leila', 'Maria']

In [64]:
# list methods
participants.append('Dwayne')
participants.extend(['George', 'catherine'])
participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'catherine']

In [73]:
# list slicing
participants[-2:], participants.index('Maria')
new_comers = ['Joshua', 'Brittany']
bigger_list = [participants, new_comers]
participants.sort()
participants, bigger_list

(['Dwayne', 'George', 'John', 'Leila', 'Maria', 'catherine'],
 [['Dwayne', 'George', 'John', 'Leila', 'Maria', 'catherine'],
  ['Joshua', 'Brittany']])

In [78]:
# tuples
# tuples are immutable and they are the default sequence type is python
x = (40, 41, 42)
type(x)

tuple

In [80]:
# tuples are usefull for comma seperated values and in functions returning more than one value
(age, height) = '30, 175'.split(',')

def square_info(x):
    area = x ** 2
    perimeter = x * 4
    print('The area and the perimeter of the square are: ')
    return area, perimeter
square_info(8), (age, height)

The area and the perimeter of the square are:

((64, 32), ('30', ' 175'))

In [84]:
# dictionaries: a key and its respective value form a key-value pair
dict = {'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'mouse'}
dict['k3']
dict['k5'] = 'parrot' # adding a new value
dict['k2'] = 'dolphin' # updating a value
dict

{'k1': 'cat', 'k2': 'dolphin', 'k3': 'mouse', 'k4': 'mouse', 'k5': 'parrot'}

In [88]:
# dictionaries methods
dict.get('k4')

'mouse'

In [2]:
# iteration
# for loops
even_list = []
odd_list = []
for item in range(21):
    if item % 2 == 0:
        even_list.append(item)
    else:
        odd_list.append(item)
even_list, odd_list

([0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [1, 3, 5, 7, 9, 11, 13, 15, 17, 19])

In [3]:
# while loops
new_even_list = []
new_odd_list = []
x = 1
while x <= 20:
    if x % 2 == 0:
        new_even_list.append(x)
    else:
        new_odd_list.append(x)
    x += 1 # incrementing
new_even_list , new_odd_list

([2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [1, 3, 5, 7, 9, 11, 13, 15, 17, 19])

In [9]:
# range function
for item in range(5, 63, 3):
    print(item, end=' ')

range(5, 63, 3) # range(start, stop, increment)

5 8 11 14 17 20 23 26 29 32 35 38 41 44 47 50 53 56 59 62

range(5, 63, 3)

In [14]:
# conditional statements, functions and loops
def count_less_than_twenty(list):
    counter = 0
    for item in list:
        if item < 20:
            counter += 1
    return counter

my_list = range(5, 39, 3)
list(my_list), count_less_than_twenty(my_list)

([5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38], 5)

In [1]:
# iterate over dictionaries
# money spent on a shopping list
prices = {
    'box_of_spaghetti': 4,
    'lasagna': 5,
    'hamburger': 2
}
quantity = {
    'box_of_spaghetti': 6,
    'lasagna': 10,
    'hamburger': 0
}
#! notice that the two dictionaries contain the sae keys
money_spent = 0
for item in prices:
    money_spent += prices[item] * quantity[item]
money_spent

74

In [ ]:
# OOP
# class >>> object

* How to import a module??
    * 1.
        * import math
        * math.sqrt(16)
    * 2.
        * from math import sqrt
        * sqrt(16)
    * 3.
        * from math import sqrt as s
        * s(16)
    * 4.
        * import math as m
        * m.sqrt(16)
    * 5.
        * from math import *  !!! THIS IS NOT RECOMMENDED
        * sqrt(16)