# Feature scaling with sklearn - Exercise

You are given a real estate dataset. 

Real estate is one of those examples that every regression course goes through as it is extremely easy to understand and there is a (almost always) certain causal relationship to be found.

The data is located in the file: 'real_estate_price_size_year.csv'. 

You are expected to create a multiple linear regression (similar to the one in the lecture), using the new data. This exercise is very similar to a previous one. This time, however, **please standardize the data**.

Apart from that, please:
-  Display the intercept and coefficient(s)
-  Find the R-squared and Adjusted R-squared
-  Compare the R-squared and the Adjusted R-squared
-  Compare the R-squared of this regression and the simple linear regression where only 'size' was used
-  Using the model make a prediction about an apartment with size 750 sq.ft. from 2009
-  Find the univariate (or multivariate if you wish - see the article) p-values of the two variables. What can you say about them?
-  Create a summary table with your findings

In this exercise, the dependent variable is 'price', while the independent variables are 'size' and 'year'.

Good luck!

## Import the relevant libraries

In [41]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import f_regression

## Load the data

In [14]:
data = pd.read_csv('17.3 real_estate_price_size_year.csv')

In [15]:
data

         price     size  year
0   234314.144   643.09  2015
1   228581.528   656.22  2009
2   281626.336   487.29  2018
3   401255.608  1504.75  2015
4   458674.256  1275.46  2009
..         ...      ...   ...
95  252460.400   549.80  2009
96  310522.592  1037.44  2009
97  383635.568  1504.75  2006
98  225145.248   648.29  2015
99  274922.856   705.29  2006

[100 rows x 3 columns]

## Create the regression

### Declare the dependent and the independent variables

In [16]:
y = data['price']
x = data[['size', 'year']]

### Scale the inputs

In [17]:
scaler = StandardScaler()
scaler.fit(x)
x_scaled = scaler.transform(x)

### Regression

In [18]:
reg = LinearRegression()
reg.fit(x_scaled, y)

LinearRegression()

### Find the intercept

In [19]:
reg.intercept_

292289.4701599997

### Find the coefficients

In [20]:
reg.coef_

array([67501.57614152, 13724.39708231])

### Calculate the R-squared

In [28]:
r2 = reg.score(x_scaled, y)
r2

0.7764803683276793

### Calculate the Adjusted R-squared

In [29]:
n = x_scaled.shape[0]
p = x_scaled.shape[1]
adjusted_r2 = 1 - (1 - r2) * (n - 1) / (n - p - 1)

0.77187171612825

In [30]:
adjusted_r2

0.77187171612825

### Compare the R-squared and the Adjusted R-squared

Answer...

### Compare the Adjusted R-squared with the R-squared of the simple linear regression

Answer...

### Making predictions

Find the predicted price of an apartment that has a size of 750 sq.ft. from 2009.

In [36]:
new_data = pd.DataFrame([['750', '2009']], columns=['size', 'year'])
new_data

  size  year
0  750  2009

In [39]:
new_data_scaled = scaler.transform(new_data)
new_data['projected price'] = reg.predict(new_data_scaled).round(3)
new_data

  size  year  projected price
0  750  2009       258330.345

### Calculate the univariate p-values of the variables

In [45]:
f_statistics = f_regression(x_scaled, y)[0]
p_values = f_regression(x_scaled, y)[1]
f_statistics.round(3), p_values.round(3)

(array([285.921,   0.855]), array([0.   , 0.357]))

### Create a summary table with your findings

Answer...